<div class="languages p-y-4">
  <div class="container">
    <h1 class="display-4 text-center sections-color" id="languages">Languages</h1>
    <hr>
    <section class="row">


      <!-- technologies -->
    <% for(var i = 0; i < alltech.length;i++){ %>
      <article class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
        <article class="thumbnail">
          <a href='/tech/<%=alltech[i].name%>'>
          <img src='img/technologies/<%=alltech[i].img_src%>' alt= <%= alltech[i].title %> ></a>
          <h3 class="text-center"> <%= alltech[i].name %> </h3>
          <div class="caption caption-fluid">
            <p> <%= alltech[i].description %> </p>
          </div>
        </article>
      </article>
    <%}%>
    </section> <!-- /row -->
    <hr>
  </div> <!-- /container -->
</div> <!-- /languages -->
