<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <!-- navigation -->
    <% include partials/content/navigation.ejs %>

    <section class="row">


      <!-- resources -->
    <% for(var i = 0; i < allresources.length;i++){ %>
      <article class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
        <article class="thumbnail">
          <a href='/<%=allresources[i].name%>'>
          <img src='img/technologies/<%=allresources[i].img_src%>' alt= <%= allresources[i].title %> ></a>
          <h3 class="text-center"> <%= allresources[i].name %> </h3>
          <div class="caption caption-fluid">
            <p> <%= allresources[i].description %> </p>
          </div>
        </article>
      </article>
    <%}%>
    </section> <!-- /row -->
  </body>
</html>
