<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
    <link rel="stylesheet" href="../css/card.css">
  </head>
  <body>
    <!-- navigation -->
    <% include partials/content/navigation.ejs %>

    <!-- jumbotron -->
    <% include partials/content/jumbotron_resource.ejs %>

    <!-- resources -->
    <div class="row">
      <div class="card-group">
        <% for(var i = 0; i < allresources.length;i++){ %>
          <div class="card">
            <img height='200' width="250" class="card-img-top" src="../img/sites/<%=allresources[i].website_name%>.png" alt=<%= allresources[i].title %>>
            <div class="card-block">
              <h4 class="card-title"><%= allresources[i].title %></h4>
              <p class="card-text hidden-xs hidden-sm"><%= allresources[i].description %></p>
            </div>
            <div class="card-footer">
              <a target='_blank' href= <%=allresources[i].resource_url%> >Visit Page</a>
            </div>
        </div>
        <%}%>
      </div>
  </div> <!-- /row -->



    <!-- footer -->
    <% include partials/content/footer.ejs %>
    <% include partials/template/scripts.ejs%>
  </body>
</html>
